/*------------------------------------*\
  #TEXT VARIABLES
\*------------------------------------*/

$main-font: "Open Sans", sans-serif;

/*------------------------------------*\
  #COLOR VARIABLES
\*------------------------------------*/

$light-color: #feea13;
$dark-brown-color: #715522;
$background-gradient: linear-gradient(to right, #ece9e6, #ffffff);;
